/__pycache__
/wandb
/output
/Retrieval/p_encoder/pytorch_model.bin
/Retrieval/q_encoder/pytorch_model.bin
/Retrieval/caching/BM25Okapi.bin
/Retrieval/caching/dense_embedding.bin
/Retrieval/caching/id_title_pair.bin
/Retrieval/caching/wiki_context_id_pair.bin
/Retrieval/caching/wiki_id_context_pair.bin

nohup.out
# Python
__pycache__

# wandb
wandb/

# jupyter temp files
.ipynb_checkpoints

# saved model & predictions
outputs/
predictions/

/.DS_Store
